<%= link_to 'Create New Collection', new_user_collection_path(@user), class: 'btn btn-primary pull-right' %>
<%= render 'shared/content_title', title: "#{@user.firstname}'s Collections" %>

<% if @user.collections.size == 0 %>
  <p class="callout-text">
    Create a collection to get started!
  </p>
<% else %>
  <% @user.collections.each do |collection| %>
    <%= render 'collection', collection: collection, user: @user %>
  <% end %>
<% end %>
