<%= link_to 'Edit Collection', edit_user_collection_path(@user, @collection), class: 'btn btn-success pull-right' %>

<%= render 'shared/content_title', title: "#{@collection.name}" %>

<%= render 'albums/form' %>

<% if @collection.albums.size == 0 %>
  <p class="callout-text lowered">
    Your collection is empty. Add some albums!
  </p>
<% else %>
  <% @collection.albums.each do |album| %>
    <%= render 'albums/album', album: album %>
  <% end %>
<% end %>
